@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
//global
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
body{
    background-color: $secondary;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.error{
    position: fixed;
    top: 0;
    margin: auto;
    width: 100%;
    z-index: 100;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
//navbar
.footernavbar{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .navitem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #9B9B9B;
        margin: 0;
        padding: 0;
        font-size: 10px;
        font-weight: 500;
        img{
            width: 30px;
            height: 30px;
        }
        p{
            padding: 0;
            margin: 0;
        }
    }
}
//component
.product{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 148px;
    .productimg{
        position: relative;
        width: 148px;
        height: 184px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
        .sale, .new{
            position: absolute;
            top: 8px;
            left: 8px;
            width: min-content;
            padding: 5px 10px;
            font-size: 10px;
            border-radius: 20px!important;
            color: #fff;
            font-weight: 500;
        }
    }
    .newprice{
        font-weight: 500;
    }
    p{
        color: #9B9B9B;
    }
    del{
        color: #9B9B9B;
    }
    .addfav{
        background-color: #fff;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min-content;
        right: 7px;
        top: 167px;
        border-radius: 50%;
        padding: 5px;
    }

}



//pages
.signup, .login{
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loading-overlay{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 100%;
        .spinner-border{
            width: 100px;
            height: 100px;
        }
    }
    h1{
    font-weight: 700;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
.homepage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 61px;
    .checksale{
        width: 100vw;
        height: 536px;
        background-image: url(../../public/image/home/checksale.svg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .checkgroup{
            margin: 35px 20px;
            h1{
                color: #fff;
                font-size: 40px;
                font-weight: 700;
                letter-spacing: 3px;
            }
        }
    }
    #salesection, #newsection{
        width: 100%;
        display: flex;
        flex-direction: column;
        h1{
            font-weight: 700;
            font-size: 35px;
        }
        p{
            color: #9B9B9B;
        }
        .saleproduct, .newproduct{
            display: flex;
            flex-direction: row;
            width: 100%;
            overflow-x: scroll;
        }
    }
    .catalog{
        width: 100vw;
        height: 366px;
        background-image: url(../../public/image/home/catalog//newcollection.svg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        .catalogtext{
            margin: 10px 20px;
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
    }
    .othercatalog{
        width: 100vw;
        height: 374px;
        display: flex;
        flex-direction: row;
    }
    .othercatalog1{
        width: 50vw;
        height: 374px;
        display: flex;
        flex-direction: column;
        .othercatalog11{
            width: 50vw;
            height: 187px;
            display: flex;
            align-items: center;
            justify-content: center;
            .othercatalog11text{
                color: $primary;
                font-size: 25px;
                font-weight: 700;
            }
        }
        .othercatalog12{
            width: 50vw;
            height: 187px;
            background-image: url(../../public/image/home/catalog/black.svg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: start;
            .othercatalog12text{
                color: #fff;
                font-size: 25px;
                font-weight: 700;
                margin: 0 0 40px 20px;
            }
        }
    }
    .othercatalog2{
        width: 50vw;
        height: 374px;
        background-image: url(../../public/image/home/catalog/mens.svg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .catalog2text{
            color: #fff;
            font-size: 30px;
            font-weight: 700;
        }
    }
}
.shoppage{
    width: 100vw;
    height: 7000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 61px;
    .headerbox{
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-weight: 600;
        }   
    }
    .selecetfor{
        --bs-bg-opacity: .7;
        backdrop-filter: blur(10px);
        position: sticky;
        top:0;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 49px;
        align-items: center;
        justify-content: space-around;
        
        z-index: 100;
        padding-bottom: 5px;
        .elementsfor{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 44px;
            color: $dark;
            cursor: pointer;
            
        }
        .activelementsfor{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33%;
            height: 44px;
            border-bottom: 2px solid $primary;
            color: $dark;
            cursor: pointer;
            font-weight: 600;
            color: $primary;
            
        }
    }
    .collections{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a{
            width: 90%;
            height: 200px;
            .collection{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $dark;
                    opacity: .3;
                    --bs-bg-opacity: .3;
                }
                .collectiontext{
                    display: flex;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    font-size: 25px;
                    font-weight: 600;
                    text-align: center;
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                }
                
            }
        }
        
    }
    .categories{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        a{
            width: 90%;
            height: 100px;
            .category{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-color: #fff;
                width: 100%;
                height: 100%;
                color: $primary;
                font-size: 25px;
                font-weight: 600;
                text-align: center;
                .categorytext{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding-left: 15px;
                    width: 60%;
                    height: 100%;
                    border-radius: 0.25rem 0 0 0.25rem ;
                    color: $dark;
                    font-size: 17px;
                }
                .categoryimg{
                    width: 38%;
                    height: 100%;
                    border-radius:  0 0.25rem 0.25rem 0 ;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius:  0 0.25rem 0.25rem 0 ;

                    }
                }
            }
        }
        
    }

    .collectionproducts, .categoryproducts{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .collectionname, .categoryname{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: $secondary;
            padding: 10px 0px;
            font-size: 15px;
            color: $dark;
            letter-spacing: 2px;
        }
        .products{
            display: flex;
            flex-wrap: wrap;
            z-index: -10;
            width: 100%;
            justify-content: space-between;
            .product{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 44%;
                margin: 5px 3vw;
                border-radius: 8px;
                
                .productimg{
                    position: relative;
                    width: 100%;
                    height: 184px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                    .sale, .new{
                        position: absolute;
                        top: 8px;
                        left: 8px;
                        width: min-content;
                        padding: 5px 10px;
                        font-size: 10px;
                        border-radius: 20px!important;
                        color: #fff;
                        font-weight: 500;
                    }
                }
                .newprice{
                    font-weight: 500;
                }
                p{
                    color: #9B9B9B;
                }
                del{
                    color: #9B9B9B;
                }
                .addfav{
                    background-color: #fff;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: min-content;
                    right: 7px;
                    top: 167px;
                    border-radius: 50%;
                    padding: 5px;
                }
            
            }
        }
        
        
        @media (max-width : 361px ) {
            .products{
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;
                
                    .product{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        width: 90%;
                        .productimg{
                            position: relative;
                            width: 100%;
                            height: 184px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 8px;
                            }
                            .sale, .new{
                                position: absolute;
                                top: 8px;
                                left: 8px;
                                width: min-content;
                                padding: 5px 10px;
                                font-size: 10px;
                                border-radius: 20px!important;
                                color: #fff;
                                font-weight: 500;
                            }
                        }
                        .newprice{
                            font-weight: 500;
                        }
                        p{
                            color: #9B9B9B;
                        }
                        del{
                            color: #9B9B9B;
                        }
                        .addfav{
                            background-color: #fff;
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: min-content;
                            right: 7px;
                            top: 167px;
                            border-radius: 50%;
                            padding: 5px;
                        }
                    
                    }
                
            }
        }
        

    }
    

}

.admin{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        position: absolute;
        top: 0px;
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-bottom: 80px;
        align-items: center;    
        background-color: $secondary;
        .uploadedimg{
            height: 200px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .removeuploadedfile{
                position: absolute;
                top: 8px;
                right: 8px;
                background-color: $secondary;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
            }
        }
    }
}